# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\qtanaf\OneDrive - HKUST Connect\tylertam_blog\tqc_rcy\PhotoAlbum\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
